<div>
  <a href='<%= routes.root_path %>'>Dashboard</a>
</div>

<div>
  Look at all them goddamn notes
</div>

<div>
  <% if notes.nil? %>
    Notes must come from local storage - no authenticated user to grab notes of
  <% else %>
    <ul>
    <% notes.each do |note| %>
      <li>
        [<a href='/notes/<%= note.id %>'><%= note.id %></a>] <%= note.body %> (<span style='color: green;'><%= note.created_at.strftime('%Y-%m-%d %H:%M %p') %></span>)
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
